{% extends "_twocols.html" %}

{% block title %}Welcome{% endblock %}

{% block body %}
<h2>Genja</h2>
<p>
  Genja is a minimalist static website generator powered by Jinja2. 
</p>


<h3>Latest News</h3>

{% set news = load_yaml('news.yaml')['news'] %}
{% for item in news[:5] %}
<h4>{{ item.title }} <span class="small">{{ item.date.strftime('%A, %B %d, %Y') }}</span></h4>
<p>
  {{ item.summary }}
  {% if item.content %}
    <span style="white-space: nowrap;">&mdash; <a href="{{ "news.html"|relative }}#n{{ news|length - loop.index }}">read more</a></span> 
  {% endif %}
</p>
{% endfor %}

{% endblock %}

{% block sidebar %}
<h2>Sidebar</h2>
Use all the power of Jinja2 to create your website.
{% endblock %}
